<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rock Paper Scissors</title>
</head>
<body>
    <hr>
    <form action="/play" method="post">
        <h3>Player1</h3>
        <label for="player1">Name</label>
        <input type="text" id="player1-name" name="player1-name">
        <label for="player1">Choice</label>
        <input type="text" id="player1-choice" name="player1-choice">
        <br>
        <h3>Player2</h3>
        <label for="player2">Name</label>
        <input type="text" id="player2-name" name="player2-name">
        <label for="player2">Choice</label>
        <input type="text" id="player2-choice" name="player2-choice">
        <br><br>
        <input type="submit" value="Play">
    </form>
